{
	"swagger": "2.0",
	"info": {
		"description": "Welcome to the API documentation for WalkRollMaps.org.",
		"version": "1.0.0",
		"title": "WalkRollMap Open Data",
		"contact": {
			"email": "info@walkrollmap.org"
		},
		"license": {
			"name": "Apache 2.0",
			"url": "http://www.apache.org/licenses/LICENSE-2.0.html"
		}
	},
	"host": "walkrollmap.org",
	"basePath": "/",
	"tags": [{
		"name": "Reports",
		"description": "Returns basic information about reports."
	}, {
		"name": "Missing Amenities",
		"description": "Returns missing amenity reports."
	}, {
		"name": "Hazards/Concerns",
		"description": "Returns hazard/concern reports."
	}, {
		"name": "Incidents",
		"description": "Returns incident reports."
	}],
	"schemes": ["https", "http"],
	"paths": {
        "/api/point": {
            "get": {
                "tags": ["Reports"],
                "summary": "Returns information about reports.",
                "description": "Returns basic information about all reports. Supports paging and filtering by bounding box.",
                "operationId": "getPoints",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "bbox",
                    "in": "query",
                    "description": "A bounding box in EPSG:3857. A comma separated list as follows: left, bottom, right, top.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page",
                    "in": "query",
                    "description": "The page of reports to be returned.",
                    "required": false,
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "rows",
                    "in": "query",
                    "description": "The number of reports to be returned, used in conjunction with the page parameter.",
                    "required": false,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Reports"
                        }
                    }
                }
            }
        },
        "/api/amenity": {
            "get": {
                "tags": ["Missing Amenities"],
                "summary": "Returns missing amenity reports.",
                "description": "Returns public information about reports of missing amenities. Supports paging and filtering by bounding box.",
                "operationId": "getAmenities",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "bbox",
                    "in": "query",
                    "description": "A bounding box in EPSG:3857. A comma separated list as follows: left, bottom, right, top.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page",
                    "in": "query",
                    "description": "The page of reports to be returned.",
                    "required": false,
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "rows",
                    "in": "query",
                    "description": "The number of reports to be returned, used in conjunction with the page parameter.",
                    "required": false,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AmenityReports"
                        }
                    }
                }
            }
        },
        "/api/hazard": {
            "get": {
                "tags": ["Hazards/Concerns"],
                "summary": "Returns reports about hazards and concerns.",
                "description": "Returns public information about reports of hazards and concerns. Supports paging and filtering by bounding box.",
                "operationId": "getHazards",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "bbox",
                    "in": "query",
                    "description": "A bounding box in EPSG:3857. A comma separated list as follows: left, bottom, right, top.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page",
                    "in": "query",
                    "description": "The page of reports to be returned.",
                    "required": false,
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "rows",
                    "in": "query",
                    "description": "The number of reports to be returned, used in conjunction with the page parameter.",
                    "required": false,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/HazardReports"
                        }
                    }
                }
            }
        },
        "/api/incident": {
            "get": {
                "tags": ["Incidents"],
                "summary": "Returns reports about incidents.",
                "description": "Returns public information about reports of incidents. Supports paging and filtering by bounding box.",
                "operationId": "getHazards",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "bbox",
                    "in": "query",
                    "description": "A bounding box in EPSG:3857. A comma separated list as follows: left, bottom, right, top.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page",
                    "in": "query",
                    "description": "The page of reports to be returned.",
                    "required": false,
                    "type": "integer",
                    "format": "int64"
                },
                {
                    "name": "rows",
                    "in": "query",
                    "description": "The number of reports to be returned, used in conjunction with the page parameter.",
                    "required": false,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/IncidentReports"
                        }
                    }
                }
            }
        }
    },
	"definitions": {
        "AmenityReport": {
            "description": "A report of a missing amenity.",
            "type": "object",
            "properties": {
                "type": {
                    "type": "string"
                },
                "geometry": {
                    "$ref": "#/definitions/Geometry"
                },
                "properties": {
                    "$ref": "#/definitions/AmenityReportProperties"          
                }
            }
        },
        "AmenityReportProperties": {
            "description": "The public properties of an amenity report.",
            "allOf": [
                {
                    "$ref": "#/definitions/ReportProperties"
                },
                {
                    "type": "object",
                    "properties": {
                        "amenity_type": {
                            "type": "string"
                        }
                    }

                }
            ]
        },
        "AmenityReports": {
            "description": "A feature collection representing zero, one or more Amenity Report objects.",
            "type": "object",
            "properties": {
                "features": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/AmenityReport"
                    }
                },
                "totalCount": {
                    "type": "integer",
                    "format": "int64"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "HazardReport": {
            "description": "A report of a hazard or concern.",
            "type": "object",
            "properties": {
                "type": {
                    "type": "string"
                },
                "geometry": {
                    "$ref": "#/definitions/Geometry"
                },
                "properties": {
                    "$ref": "#/definitions/HazardReportProperties"          
                }
            }
        },
        "HazardReportProperties": {
            "description": "The public properties of a hazard/concern report.",
            "allOf": [
                {
                    "$ref": "#/definitions/ReportProperties"
                },
                {
                    "type": "object",
                    "properties": {
                        "hazard_type": {
                            "type": "string"
                        },
                        "hazard_subtype": {
                            "type": "string"
                        }
                    }

                }
            ]
        },
        "HazardReports": {
            "description": "A feature collection representing zero, one or more Hazard/Concern Report objects.",
            "type": "object",
            "properties": {
                "features": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/HazardReport"
                    }
                },
                "totalCount": {
                    "type": "integer",
                    "format": "int64"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "IncidentReport": {
            "description": "A report of an incident.",
            "type": "object",
            "properties": {
                "type": {
                    "type": "string"
                },
                "geometry": {
                    "$ref": "#/definitions/Geometry"
                },
                "properties": {
                    "$ref": "#/definitions/IncidentReportProperties"          
                }
            }
        },
        "IncidentReportProperties": {
            "description": "The public properties of an incident report.",
            "allOf": [
                {
                    "$ref": "#/definitions/ReportProperties"
                },
                {
                    "type": "object",
                    "properties": {
                        "incident_type": {
                            "type": "string"
                        },
                        "incident_with": {
                            "type": "string"
                        },
                        "injury_type": {
                            "type": "string"
                        },
                        "involvement": {
                            "type": "string"
                        }
                    }

                }
            ]
        },
        "IncidentReports": {
            "description": "A feature collection representing zero, one or more Incident Report objects.",
            "type": "object",
            "properties": {
                "features": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/IncidentReport"
                    }
                },
                "totalCount": {
                    "type": "integer",
                    "format": "int64"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "Coordinates": {
            "description": "An array of two numbers representing the location of a point in EPSG:3857.",
            "type": "array",
            "items": {
                "type": "integer",
                "format": "int64"
            }
        },
        "Geometry": {
            "description": "Represents a point marking the position of a report.",
            "type": "object",
            "properties": {
                "type": {
                    "type": "string"
                },
                "coordinates": {
                    "$ref": "#/definitions/Coordinates"
                }
            }
        },
        "Report": {
            "description": "The base report object.",
            "type": "object",
            "properties": {
                "type": {
                    "type": "string"
                },
                "geometry": {
                    "$ref": "#/definitions/Geometry"
                },
                "properties": {
                    "$ref": "#/definitions/ReportProperties"
                }
            }
        },
        "ReportProperties": {
            "description": "The public properties of a base report.",
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "date": {
                    "type": "integer",
                    "format": "int64"
                },
                "date_reported": {
                    "type": "integer",
                    "format": "int64"
                },
                "description": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "Reports": {
            "description": "A feature collection representing zero, one or more Report objects.",
            "type": "object",
            "properties": {
                "features": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Report"
                    }
                },
                "totalCount": {
                    "type": "integer",
                    "format": "int64"
                },
                "type": {
                    "type": "string"
                }
            }
        }
	},
	"externalDocs": {
		"description": "Find out more about Swagger",
		"url": "http://swagger.io"
	}
}